<ion-view cache-view="false" style="" title="appFormulario" ng-controller="appFormularioCtrl">
    <ion-side-menus>
        <ion-side-menu-content>
            <ion-header-bar class='bar-positive' align-title='center'>
                <div class='buttons'>
                    <button class="button icon button-clear ion-android-sync" ng-click="ActualizarView()"></button>
                    <button class="button icon button-clear ion-home" ng-click="GoHome()"></button>
                </div>
                <h1 class="title">{{title}}</h1>
                <div class='buttons'>
                    <button class='button icon button-clear ion-navicon-round' ng-click='toggleRight()'></button>
                </div>
            </ion-header-bar>
            <ion-content class="padding has-header" overflow-scroll="true" padding="true" style="background-color: #e3f2fd">
                <ul class="list">
                    <li class="item item-toggle" ng-repeat="opcion in opciones">
                        {{opcion.ID_OPCION}}
                        <label class="toggle toggle-positive">
                            <input type="checkbox" ng-click="ToggleApp(opcion.U027CB9, opcion.U027CBA)" ng-checked="getChecked(opcion.U027CBB)">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>
                </ul>
            </ion-content>
        </ion-side-menu-content>

        <ng-include src="'templates/menuOpciones.html'"></ng-include>


    </ion-side-menus>

</ion-view>