<ion-view cache-view="false" style="" title="appMarcaAsistencia">

    <ion-side-menus>
        <ion-side-menu-content>
            <ion-header-bar class='bar-positive' align-title='center'>
                <div class='buttons'>
                    <button class="button icon button-clear ion-android-sync" ng-click="ActualizarView()"></button>
                    <button class="button icon button-clear ion-home" ng-click="GoHome()"></button>
                </div>
                <h1 class="title">{{title}}</h1>
                <div class='buttons'>
                    <button class='button icon button-clear ion-navicon-round' ng-click='toggleRight()'></button>
                </div>
            </ion-header-bar>
            <ion-content class="has-header" style="background-color: #e3f2fd">
                <div ng-if="MoreRV">
                    <p><b>Actualmente tienes mas de una regla de verificacion.</b></p>
                    <p>Seleccione un convenio y jornada</p>

                    <div class="list">
                        <label class="item item-select item-input">
                            <div class="input-label">
                                Convenio
                            </div>
                            <select ng-model="selConvenio" ng-options="rv.DESCRIPCION_CONTRATO for rv in VERIFICACIONES" ng-change="SelectJornada(selConvenio)">
                                <option value="">Seleccione Convenio</option>
                            </select>
                        </label>
                        <div ng-if="showJor">
                            <label class="item item-select item-input">
                                <div class="input-label">
                                    Jornada
                                </div>
                                <select ng-model="selJornada" ng-options="jor.JORNADA for jor in LISTA_FILTRADA" ng-change="SelectFiltro(selJornada)">
                                    <option value="">Seleccione Jornada</option>
                                </select>
                            </label>
                            <div class="row">
                                <div class="col">
                                    <button class="button button-block button-large button-positive" ng-click="ProcesoEventos(LISTA_FILTRADA)" ng-disabled="disabledButtonFilter">Seleccionar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-if="!MoreRV">
                    <div>
                        <p><b>Convenio: </b>{{VERIFICACIONES[0].DESCRIPCION_CONTRATO}}</p>
                    </div>
                    <br>
                    <div>
                        <p><b>Jornada: </b>{{VERIFICACIONES[0].JORNADA}}</p>
                    </div>

                    <!--
                    <div class="row" ng-repeat="li in LineaTiempo">
                        <div class="col" style="bordercolor='#FFFFFF'">
                            <a class="button button-block button-large button-positive" ng-click="ProcesoMarcaje(li)">{{li.NOMBRE_EVENTO}}</a>
                        
                        </div>
                            
                    </div>
-->
                    <div ng-repeat="li in LineaTiempo">
                        <button class="button button-block button-large button-positive" ng-click="ProcesoMarcaje(li)">{{li.NOMBRE_EVENTO}}</button>

                    </div>

                    
                </div>

            </ion-content>

        </ion-side-menu-content>

        <ng-include src="'templates/menuOpciones.html'"></ng-include>

    </ion-side-menus>

</ion-view>