<ion-view cache-view="false" style="" title="appPanel">
    <ion-side-menus>
        <ion-side-menu-content>
            <ion-header-bar class='bar-positive' align-title='center'>
                <div class='buttons'>
                    <button class="button icon button-clear ion-android-sync" ng-click="ActualizarView()"></button>
                    <button class="button icon button-clear ion-home" ng-click="GoHome()"></button>
                </div>
                <h1 class="title">{{title}}</h1>
                <div class='buttons'>
                    <button class='button icon button-clear ion-navicon-round' ng-click='toggleRight()'></button>
                </div>
            </ion-header-bar>
            <ion-content class="padding has-header" overflow-scroll="true" padding="true" style="background-color: #e3f2fd">
                <div id="'registro-{{$index}}'" ng-repeat="registro in registros" style="" ng-class="'list card fade'">
                    <div class="item item-divider row" style="background-color: #2196f3; color: #FFFFFF" ng-click="openPopover($event,registro.Fecha_Origen,registro.Fecha_Texto)">

                        <div class="col col-75">{{registro.Fecha_Texto}}</div>
                        <div class="col" style="text-align: right"><br><b>{{registro.Registros}}</b></div>
                    </div>
<!--
                    <div class="item item-text-wrap">
                        <div style="">
                            <p>
                                {{registro.Fecha_Texto}}
                                <br/>
                                <b> {{registro.Registros}} registros</b>
                            </p>
                        </div>
                    </div>
-->
                </div>

                <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="5%"></ion-infinite-scroll>
                

            </ion-content>

        </ion-side-menu-content>

        <ng-include src="'templates/menuOpciones.html'"></ng-include>


    </ion-side-menus>


    <script id="templates/popover.html" type="text/ng-template">

        <ion-popover-view>
            <ion-header-bar align-title="center">
                <h1 class="title" style="font-size:16px">
                    <div ng-controller="appPanelCtrl">
                        <p ng-bind-html="title_"></p>
                    </div></h1>
            </ion-header-bar>
            <ion-content>

             <ion-scroll id="ionScrollRegion" direction="x" zooming="false" delegate-handle="horizontal" on-scroll="scrollEvent()">

                    <div id="overflowingContent" class="popover-inner-content">
                        <div class="contenido" ng-controller="appPanelCtrl">
                            <p ng-bind-html="content_"></p>
                        </div>
                    </div>

              </ion-scroll>

            </ion-content>
        </ion-popover-view>

    </script>
</ion-view>