<ion-view cache-view="false" style="" title="Mis Notificaciones" ng-controller="misNotificacionesCtrl">

    <ion-side-menus>
        <ion-side-menu-content>
            <ion-header-bar class='bar-positive' align-title='center'>
                <div class='buttons'>
                    <button class="button icon button-clear ion-android-sync" ng-click="ActualizarView()"></button>
                </div>
                <h1 class="title">Mis Notificaciones</h1>
                <div class='buttons'>
                    <button class='button icon button-clear ion-navicon-round' ng-click='toggleRight()'></button>
                </div>
            </ion-header-bar>
            <ion-content class="padding has-header" overflow-scroll="true" padding="true" style="background-color: #e3f2fd">
                <div id="'notificacion-{{$index}}'" ng-repeat="notify in notifications" style="" ng-class="cantidadNotificacionesRecientes > $index ? 'list card animated shake': 'list card fade'">
                    <div class="item item-divider" style="background-color: #2196f3; color: #FFFFFF" ng-click="openPopover($event,notify.U027425,notify.U027428)">
                        {{notify.U027425}}
                        <!--                <i ng-class="checkEstado(notify.U027427)"></i>-->
                    </div>
                    <div class="item item-text-wrap">
                        <div style="">
                            <p>
                                {{notify.U027424}}
                            </p>
                        </div>
                    </div>
                </div>

                <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="5%"></ion-infinite-scroll>

            </ion-content>
        </ion-side-menu-content>

        <ng-include src="'templates/menuOpciones.html'"></ng-include>

    </ion-side-menus>

    <script id="templates/popover.html" type="text/ng-template">
        <ion-popover-view>
            <ion-header-bar align-title="center">
                <h1 class="title" style="font-size:16px">
                    <div ng-controller="misNotificacionesCtrl">
                        <p ng-bind-html="title"></p>
                    </div></h1>
            </ion-header-bar>
            <ion-content>
                <div class="popover-inner-content">
                    <div ng-controller="misNotificacionesCtrl">
                        <div bind-html-compile="content"></div>
                        <br/>
                    </div>

                </div>
            </ion-content>
            <ion-footer-bar align-title="center">
                <h1 class="title">
                    <div class="buttons" ng-click="imprimir(content)">
                        <button class="button">Imprimir</button>
                    </div>
                    
                </h1>

            </ion-footer-bar>
        </ion-popover-view>
    </script>


</ion-view>