<ion-view cache-view="false" style="" title="Solicitud de Cuenta">


    <ion-side-menus>
        <ion-side-menu-content>
            <ion-header-bar class='bar-positive' align-title='center'>
                <div class='buttons'>
                    <button class="button icon button-clear ion-ios-home-outline" ng-click="GoLogin()"></button>
                </div>
                <h1 class="title">Solicitud de Cuenta (Paso 2)</h1>
            </ion-header-bar>
            <ion-content class="padding has-header" overflow-scroll="true" padding="true" style="background-color: #e3f2fd" ng-controller="solicitudCuenta2Ctrl">
                <div class="list">
                    <div class="item item-avatar">
                        <img src="img/avatarUnknown.jpg">
                        <h3>{{Nombre}}</h3>
                        <p style='font-size: 12px'>{{Domicilio}}</p>
                    </div>
                    <input type="text" ng-model="IdPersona" style="display: none;" />
                    <input type="text" ng-model="RutEmpresa" style="display: none;" />
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Cuenta</span>
                        <input id="Cuenta" type="text" placeholder="ejemplo: jperez" ng-model="Cuenta">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Correo</span>
                        <input id="Correo" type="text" placeholder="ejemplo: jperez@gmail.com" ng-model="Correo">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Fono</span>
                        <input id="Fono" type="text" placeholder="ejemplo: 98563481" ng-model="Fono">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Perfil</span>
                        <br/>

                        <select ng-model="selectedItem" ng-options="item.nombre for item in items" class="item item-input item-select item-light">
                        </select>

                        <!--
                            <select ng-model="selectedItem" class="item item-input item-select item-light">
                                <option ng-repeat="item in items" value="{{item.id}}">{{item.nombre}}</option>
                            </select>
-->

                    </label>
                    
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Comentarios</span>

                        <textarea id="Comentario" rows="3" cols="5" ng-model="Comentario">
                        </textarea>
                    </label>

                    <a id="idVerificarPersonaEmpresa" style="" class="button button-positive button-block" ng-click="generarSolicitud()">Enviar</a>
                </div>


            </ion-content>
        </ion-side-menu-content>

    </ion-side-menus>

</ion-view>